* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #030013;
    color: white;
    font-family: poppins;
}

button {

    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    opacity: 0.8;
    transition: all 0.3s;

}
html{
    scroll-behavior: smooth;
}

button:hover {

    opacity: 1;

}

p {

    opacity: 0.7;

}
a{
    color: white;
    opacity: .7;
    transition: all;
    text-decoration: underline;
}

header {
    width: 100%;
    display: flex;
    padding: 4%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;

}

.logotipo {
    width: 60px;
}

header nav ul {

    display: flex;
    gap: 24px;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px 20px;
    border-radius: 12px;
    backdrop-filter: blur(20px);

}

section {

    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4%;


}

.secao1 {

    background-image: url(assests/fundo\ tela\ 1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 12vw;
        color: rgb(113, 110, 110);
        mix-blend-mode: color-dodge;
    }
    p{
        justify-content: center;
        text-align: center;
    }
}

.conteudoPrincipal {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: 500;

    }

    .divBotoes {

        display: flex;
        gap: 20px;
        margin-top: 20px;



    }

    .botaoPrimario {
        background-color: rgba(255, 255, 255, 0.9);
        gap: 30px;
        padding: 6px 6px 6px 20px;
    }

    .botaoSecundario {

        padding: 16px;
        background-color: rgba(255, 255, 255, 0.419);
        color: white;

    }
.secao2 {
    align-items: center;
}    
.divCards{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 120px;

}
.card{
    width: 32%;
    padding: 32px 20px;
    h3{
        font-size: 24px;
        font-weight: 500;
        margin: 20px 0px 4px;

    }
}
.branco{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
.divImagens{
    display: flex;
    flex-wrap: wrap;
    margin: 52px 0px 80px;
    gap: 8px .5%;

    img{
        width: 24.5;
        filter: saturate(0);
        &:hover{
           filter: saturate(1);
        }
    }
}

